@media(max-width:768px){
    .form-side {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    } 
    html{
        width: 100%;
        height: 100%;
    }

    body{
        width: 100%;
        height: 100%;
        font-family: 'Arial', sans-serif;
        display: flex;
    }
    .main>#imagen{
        display: none;
    }
    .main{
        width: 100%;
        height: 100%;
    }
}
@media(max-width:480px){
    .form-side {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    } 
    html{
        width: 100%;
        height: 100%;
    }

    body{
        width: 100%;
        height: 100%;
        font-family: 'Arial', sans-serif;
        display: flex;
    }
    .main>#imagen{
        display: none;
    }
    .main{
        width: 100%;
        height: 100%;
    }
}